@import url('https://fonts.googleapis.com/css?family=Mochiy Pop One');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.content {
  margin: auto;
  width: 80%;
}

.art-contest {
  font-family: 'Mochiy Pop One';
  color: #1375E4;
}

.Workshop-img {
  display: flex;
  width: 100%;
  margin: auto;
}

.description {
  color: #1375E4;
  margin-top: 10px;
}

.artwork-container p {
  font-family: 'Mochiy Pop One';
  color: #1375E4;
}

.cardContainer{
  display: flex;
  justify-content: space-between;
}
.userCard{
  border:2px solid black;
}
.userCard div{
 display: flex;
}
/* .identity{ */
/* display: flex;
  margin-top: -20px;
  margin-left: 10px;
} */
.userName{
  display: block;
}
.userAge{
  display: block;
  font-family: none;
  font-size: 1em;
}

.profile{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.sapne-waalis h2 {
  font-family: 'Mochiy Pop One';
  color: #1375E4;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
}

.sapne-waalis{
text-align: center;
margin-bottom: -3%;
font-size: 3em;
}

.sapne-waalis a {
  text-decoration: none;
}

.fa {
  color: red;
}

#identy{
  display: block;
  margin-top: 2px;
  margin-left: 20px;

}

@media(max-width:1000px){
  .sapne-waalis{
    font-size: 1em;
  }
  #card-4{
    display: none;
  }
  #placeholder{
    width: 100%;
  }
  .profile{
    width: 30px;
    height: 50px;
  }
  
}